{% extends 'base.html.twig' %}

{% block title %}Vehicles{% endblock %}

{% block body %}
    <h1 class="mt-2">Vehicles List</h1>

    <div class="container">
        <div class="row justify-content-center row-gap-2 column-gap-2 mt-2">
            {% for vehicle in vehicles %}
                <div class="card p-0 column-gap-2" style="width: 17rem;">
                    <img src="{{ vehicle.picturePath }}" class="card-img-top" alt="vehicle picture">
                    <h5 class="card-title text-center">
                        {{ vehicle.model.brand.name }}
                        {{ vehicle.model.name }}
                    </h5>
                    <div class="card-body d-flex flex-column justify-content-between p-2">
                        <table class="mb-2 table">
                            <tr>
                                <th class="w-25">Model</th>
                                <td class="w-50">{{ vehicle.model.name }}</td>
                            </tr>
                            <tr>
                                <th class="w-25">Brand</th>
                                <td class="w-50">{{ vehicle.model.brand.name }}</td>
                            </tr>
                            <tr>
                                <th class="w-25">Type</th>
                                <td class="w-50">{{ vehicle.type.name }}</td>
                            </tr>
                        </table>
                        <div class="d-flex flex-row gap-2">
                            <a href="{{ path('details_vehicle', {'id': vehicle.id}) }}"
                               class="btn btn-primary w-50">Show Vehicle</a>
                            <a href="{{ path('edit_vehicle', {'id': vehicle.id}) }}"
                               class="btn btn-success w-50">Edit Vehicle</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
